################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineDiary/App_Data/aspnet-OnlineDiary-20160630011054.mdf
/OnlineDiary/App_Data/aspnet-OnlineDiary-20160630011054_log.ldf
