<nav class="navbar navbar-default navbar-static-top b-preview-diary ">
    <div class="container ">
        <p class="navbar-text navbar-right "><a href="@Url.Action("Schelude", "Diary")" class="navbar-link">Расписание</a></p>
        <p class="navbar-text navbar-right "><a href="@Url.Action("Marks", "Diary")" class="navbar-link">Оценкм</a></p>
    </div>
</nav>