@model bool
@using Microsoft.AspNet.Identity
<div id="home-work-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Домашняя работа</h4>
            </div>
            <div class="modal-body" >
                @if (!Model)
                {
                    <p id="home-work-text"></p>
                }
                else
                {
                    <textarea id="home-work-text" class="form-control"></textarea>
                }
            </div>
            <div class="modal-footer">
                @if (Model)
                {
                    <button type="button" class="btn btn-primary"  id="home-work-send"  data-dismiss="modal">Отправить</button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>
