@model OnlineDictionary.ViewModel.MarksViewModel

@{
    ViewBag.Title = "Оценки";
}
<h2>Оценки</h2>
<div class="">
    @if (Model.CountDays > 0 && Model.children != null) {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Предмет</th>
                    @for (int i = 1; i <= Model.CountDays; i++) {
                        <th>@i</th>
                    }                
                </tr>
            </thead>
            <tbody>
                @foreach (var l in Model.children.Lessons) {
                    <tr>
                        <td>
                            @l.LessonTitle
                        </td>
                        @for (int i = 1; i < Model.CountDays; i++) {
                            if ((Model.getMarkValue(i, l.ID)) != null) {
                                <td>
                                    <b>@Model.getMarkValue(i, l.ID)</b>
                                </td>
                            } else {
                                <td>

                                </td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    } else {
        <p>Нет оценок для этой школы</p>
    }
</div>