.set--mark-final {
font-weight:bold;
}
.mark--set {
    font-weight:bold;
}
.mark__write {
    width:100%;
}
.childrens--content {
    margin-top:20px;
}
.lesson-title {
    width:100%;
    text-align:left;
}
.schedule-days {
    display:block;
    margin-left:60px;
    margin-right:60px;
}
.week-select {
    margin-bottom:20px;
    text-align:center;
}
.select-children {
    margin-top:40px;
    margin-bottom:40px;
}
.marks-table {
    padding-top:10px;
}
.marks--content {
    margin-top:10px;
}

.b-preview-logo {
    width: 109px;
    height: 66px;
    margin: 0px;
    margin-bottom: 12px;
    margin-top: 6px;
    border-radius: 80px;
}
.b-preview-bar {
    margin-bottom: 0px;
    background-color: black;
}
.b-preview-day {
    font-size: 12px;
    color: white;
        margin-bottom: 28px;
}
.b-preview-about {
    margin-bottom: 100px;
}
.b-preview-enter {
    background-image: none;
}
.b-preview-bottom {
    width: 100%;
}
.b-mark_table {
    margin-bottom: 50px;
}
.b-mark_mouth {
    padding-left: 158px;
}
.b-mark_mouth-one {
    padding-left: 302px;
}
.b-mark_period {
    width: 40px;
    font-size: 9px;
}
.b-preview-form {
    width: 335px;
    margin-bottom: 100px;
 }
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    padding: 0;
}
.b-admin-table {
    margin-bottom: 100px;
}


table {
    table-layout: fixed;
    width: 100%;
}
td,
th {
    width: 22px;
    padding: 0px;
}
.b-admin_button {
    margin-bottom: 22px;
}
.b-main_footer {
    margin-top: 24px;
}
.b-preview_week {
    width: 
}
.b-schedule__week {
    margin-bottom: 22px;
}
.b-shredule_log {
    color: #FFFFFF;
}
.b-shredule_log:hover {
color: #FFFFFF;
text-decoration: none;
}
.b_shredule_week {
    margin-bottom:23px;
}

@media screen and (max-width: 1280px) {
    .table>caption+thead>tr:first-child>td,
    .table>caption+thead>tr:first-child>th,
    .table>colgroup+thead>tr:first-child>td,
    .table>colgroup+thead>tr:first-child>th,
    .table>thead:first-child>tr:first-child>td,
    .table>thead:first-child>tr:first-child>th {
        border-top: 0;
        font-size: 9px;
    }
}
@media screen and (max-width: 1024px) {
    table {
        table-layout: fixed;
    }
    .b-mark_name {
        font-size: 10px;
        width: 200px;
        height: 20px;
    }
        .b-preview_table {
    padding: 0;
    font-size: 10px;


    }
    .b-main_footer {

        display: none;
}
}
@media screen and (max-width: 450px) {
    .b-preview-about {
        margin-bottom: 20px;
    }
    .b-preview-organization {
        font-size: 12px;
    }
    .b-company_name {
        font-size: 13px;
    }
    .b-mark_table {
        margin-bottom: 75px;
    }
    .b-mark_name {
        font-size: 10px;
        width: 200px;
        height: 20px;
    }
    .table-responsive {
        margin-bottom: 60px;
    }
    .b-preview-form {
    width: 335px;
    margin-bottom: 100px;
    }
    .b-preview_table {
    padding: 0;
    font-size: 10px;

}
.b-preview_subject {
    width: 30   0px;
    height: 50px;
}
}
@media screen and (max-width: 480px) {
    .b-preview-about {
        margin-bottom: 20px;
    }
}
.b-main_footer {
    margin-bottom: 0px;
}
.b-mark_name {
    font-size: 10px;
    width: 100px;
    height: 20px;
}
.b-mark_group {
    width: 300px;
    display: inline-block;
}

.container.b-preview-form {
    width: 335px;
}
.b_mark_mouth {
    width: 645px;
    display: inline-block;
    margin-left: 45px;
}

.button_log:hover {
text-decoration: none;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.tdIndex
{
    width: 70px;
}

